body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2,p {
    text-align: center;
    margin-bottom: 20px;
}

.next-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 45%;
}

.next-button:hover {
    background-color: #45a049;
}
.prev-button {
    background-color: #ca2424;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 45%;
}

.prev-button:hover {
    background-color: #b33535;
}
.button-div{
    text-align: center;
}